body {
  background-image: url('../assets/images/stars.jpg');
  font-weight: bold;
}
#jumbotron {
  text-align: center;
  border: solid 1em black;
  padding: 1em;
  background-color: rgb(253, 246, 231, .85);
  margin-left: 10%;
  margin-right: 10%;
}
h2 {
  margin: 1em;
}
p {
  margin-left: 5%;
  margin-right: 5%;
}
.container {
  margin: 2em;
}
.col-4 {
  border: solid .2em black;
  padding: 1em;
}
#employeeInfo, #employeeOutput {
  border: solid .2em black;
  padding:2em;
  background-color: rgb(253, 245, 230, .9);
}
.radio {
  margin: .1em;
}
.fields {
  margin: 1em;
  width: 40%;
}
#workerInfoButton {
  width: 100%;
  margin: 1em;
}