#jumbotron {
  text-align: center;
  border: solid 1em black;
  padding: 1em;
  font-weight: bold;
}
.container {
  margin: 2em;
}
.col-4 {  
  border: solid .2em black;
  padding: 1em;
}
#employeeInfo {  
  border: solid .2em black;
  padding:2em;
}
.radio {
  margin: .1em;
}
.fields {
  margin: 1em;
  width: 40%;
}
#workerInfoButton {
  width: 100%;
  margin: 1em;
}