body {
  background-image: url('../assets/images/stars.jpg');
  font-weight: bold;
}
#jumbotron {
  text-align: center;
  border: double 1em black;
  padding: 1em;
  background-color: rgb(255, 255, 255, .85);
  margin-left: 10%;
  margin-right: 10%;
}
h2 {
  margin: 1em;
}
p {
  margin-left: 5%;
  margin-right: 5%;
}
.container {
  margin: 2em;
}
.col-4 {
  border: double .5em black;
  padding: 1em;
}
#employeeInfo, #employeeOutput {
  border: double 1em black;
  padding: 2em;
  background-color: rgb(255, 255, 255, .9);
}
.radio {
  margin-top: 1em;
}
input[type="radio"] {
  margin-right: 10px;
}
h4 {
  margin-left: 2em;
  margin-bottom: 1em;
  text-decoration: underline;
}
.fields {
  margin: 1em;
  width: 45%;
  box-sizing: border-box;
  padding: .5em;
  border-bottom: .5em double black;
  border-top: .5em double black;
  font-weight: 400;
}
#workerInfoButton {
  width: 100%;
  margin-top: 1.5em;
  border: solid .2em black;
  font-size: larger;
  background-color: rgb(255, 255, 255, .8);
}
#lifespanAlert {
  display: none;
  margin-top: 2em;
}
ul {
  margin-left: -1em;
}